.showCase {
  padding: 50px 150px;

  @media screen and (max-width: 992px) {
    padding: 50px 50px;
  }

  &-promotionalText {
    font-size: 1.8rem;
    color: green;
    display: inline-block;
    margin: 0px 0px 50px 0px;
  }

  &-carousel {
    background-color: rgba($color: #ffffff, $alpha: 1);
    height: 60vh;
    @media screen and (max-width: 992px) {
      height: 30vh;
    }
  }

  &-img {
    height: 60vh;
    object-fit: cover;
    background-color: rgba($color: #ffffff, $alpha: 0.3);
    @media screen and (max-width: 992px) {
      height: 30vh;
    }
  }
}
