* {
  font-family: "Lato", sans-serif;
  color: #dddddd;
}

input {
  color: #000000;
}

body {
  background: rgba(61, 65, 74, 0.95);
}

.info {
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 1.3rem;
  color: rgb(182, 0, 97);
}
